body
  font-family: "Merriweather", serif
  font-weight: 400


h1,
h2,
h3,
h4,
h5,
h6 
  font-family: "Work Sans", sans-serif
  font-weight: 800


.button 
  font-family: "Work Sans", sans-serif
  font-weight: 700
  font-size: 15px
  letter-spacing: 1px

.merriweather
  font-family: "Merriweather", serif
.workssan
  font-family: "Work Sans", sans-serif